.section
{ 
	border-radius: 5px;
    background: #adadad;
	padding: 0.1% 0.5% 1%;
    width: 99%;
    height: 80%;
	box-shadow: 5px 5px 5px #888888;
	margin: 0px 0px 5px;
	font-family: Georgia, serif; 
	font-size:1.2em;
	overflow:auto;
}
.header
{
	position:relative;
	border-radius: 0px 0px 5px 5px;
	background: #233540;
	padding: 1px 5px 1px;
	height: fit-content;
	box-shadow: 5px 5px 5px #888888;
	margin: 0px 0px 5px;
	top: 0px;
}

.blackLineHorizontal
{
	position: relative;
	z-index: 1;
	background: #ffffff;
	width: 100%;
	height: 5px;
	top: 0px;
}

@media all and (orientation: landscape) {
	.sectionsplit {
		position: relative;
		display: inline-block;
		vertical-align: top;
		border-radius: 5px;
		background: #44687D;
		padding: 0.1% 0.5% 1%;
		width: 48.5%;
		height: intrinsic;
		height: -moz-fit-content;
		box-shadow: 5px 5px 5px #233540;
		margin: 0px 0px 5px;
		font-family: Georgia, serif;
		font-size: 1.2em;
	}
	.innerblock
	{
		position:relative;
		border-radius: 5px;
		background: #dddddd url("../images/small_waves.png") repeat left top;
		padding: 0.5%;
		height: fit-content;
		min-height: 780px;
		box-shadow: 5px 5px 5px #233540;
		margin: 0px 0px 1%;

	}
	body
	{
		font-family: Verdana, sans-serif;
		font-size:0.8em;
		background: #eeeeee url("../images/small_waves.png") repeat left top;
		position:absolute;
		padding:0;
		margin:0;

		top:0;
		left:0;

		width: 100%;
		height: 100%
	}
	button
	{
		background: #3498db;
		background-image: -webkit-linear-gradient(top, #44687D, #233540);
		background-image: -moz-linear-gradient(top, #44687D, #233540);
		background-image: -ms-linear-gradient(top, #44687D, #233540);
		background-image: -o-linear-gradient(top, #44687D, #233540);
		background-image: linear-gradient(to bottom, #44687D, #233540);
		-webkit-border-radius: 28;
		-moz-border-radius: 28;
		border-radius: 28px;
		font-family: Arial;
		color: #ffffff;
		font-size: 0.5em;
		padding: 2px 4px 2px 4px;

	}
	input
	{

	}
}

@media all and (orientation: portrait) {
	body
	{
		font-family: Verdana, sans-serif;
		font-size:1.5em;
		background: #eeeeee url("../images/small_waves.png") repeat left top;
		position:absolute;
		padding:0;
		margin:0;

		top:0;
		left:0;

		width: 100%;
		height: 100%;

	}
	.sectionsplit {
		border-radius: 5px;
		background: #44687D;
		padding: 0.1% 0.5% 1%;
		height: intrinsic;
		height: -moz-fit-content;
		box-shadow: 5px 5px 5px #888888;
		margin: 0px 0px 5px;
		font-family: Georgia, serif;
		font-size:1.2em;
		overflow: hidden;
	}
	.innerblock
	{
		position:relative;
		border-radius: 5px;
		background: #dddddd url("../images/small_waves.png") repeat left top;
		padding: 0.5%;
		height: fit-content;
		min-height: 780px;
		box-shadow: 5px 5px 5px #888888;
		margin: 0px 0px 1%;
	}
	.section-title
	{
		font-family: Verdana, sans-serif;
		font-size:2em;
	}
	button
	{
		background: #3498db;
		background-image: -webkit-linear-gradient(top, #44687D, #233540);
		background-image: -moz-linear-gradient(top, #44687D, #233540);
		background-image: -ms-linear-gradient(top, #44687D, #233540);
		background-image: -o-linear-gradient(top, #44687D, #233540);
		background-image: linear-gradient(to bottom, #44687D, #233540);
		-webkit-border-radius: 28;
		-moz-border-radius: 28;
		border-radius: 28px;
		font-family: Arial;
		color: #ffffff;
		font-size: 1em;
		padding: 2px 4px 2px 4px;
	}
	input
	{
		font-size: 1em;
	}
}

.title
{
	font-family: Georgia, serif; 
	font-size:1.8em;
}
.subtitle
{
	font-family: Georgia, serif; 
	font-size:1.4em;
}
.block
{
	width: fill;
    height: wrap;
}

.signature
{
	font-family: Georgia, serif;
	font-size:1em;
	color: rgba(100,100,100,1);
	position:absolute;
	bottom:4%;
	right:4%;
}

.container
{
	position:relative;
	padding: 1%;
	height:75%;
	width:fill;
}

nav
{
	position: fixed;
	right: 10px;
	top: 0px;
}
article, footer
{border:1px solid grey; margin:5px; padding:8px;}

nav ul
{
	margin:0;
	padding:0;
}

nav ul li
{
	display: inline;
	margin:0;
	border-radius: 5px;
    background: #444444;
    padding: 15px 20px 10px;
	border-style: solid;
	border-width: 1px;
    border-color: #ffffff
}
a
{
	font-family: Verdana, sans-serif;
	font-size:2em;
	text-decoration: none;
	color: #000000;
}
h1
{
	display: inline;
	padding: 0px 20px 0px 5px;
	text-shadow: -1px 0 #CC99FF, 0 1px #CC99FF, 1px 0 #CC99FF, 0 -1px #CC99FF;
	color: #000000;
}
h2
{
	display: inline;
	color: #ffffff;
	padding: 0px 0px 0px 10px;
}
#subtitle
{
	display: inline;
	color: #000000;
	border-left: solid #DE3163;
	text-shadow: -1px 0 #ADFF5C, 0 1px #ADFF5C, 1px 0 #ADFF5C, 0 -1px #ADFF5C;
	padding: 0px 0px 0px 10px;
}

div img
{
	border-radius: 5px;
    background: #dddddd;
    padding: 10px 10px 10px;
	display:inline;
}

img
{
	display:inline;
	width:wrap;
	height:wrap;
}

.drink
{
	font-family: Verdana, sans-serif;
	font-size:3em;
	text-decoration: none;
	padding: 10px 10px 10px;
	color: #000000;
}

#Msg {
    resize: none;
	width: 67%;
	height: 10%;
}

